# SEQUENCE TYPE (COLLECTION OF DATA)

##List
Lists are ordered (the order of elements matters).

Lists can contain any arbitrary objects (e.g., numbers, strings, functions, classes).

List elements can be accessed by index.

Lists can be nested (contain other lists).

Lists are mutable (you can modify their contents).

Lists are dynamic (you can add or remove elements).

In [1]:
a = ['foo', 'bar', 'baz', 'qux']
print(a)  # Output: ['foo', 'bar', 'baz', 'qux']

['foo', 'bar', 'baz', 'qux']

##Tuple
A tuple is an ordered, immutable collection of objects.

Tuples are immutable (you cannot modify their contents after creation).

Tuples can contain any assortment of objects (similar to lists).

Tuple elements can be accessed by index.

Tuples are often used for grouping related data.

Infinite Length

iterable

Allows Duplicate members

In [2]:
t = (10, 'apple', 3.14)
print(t)  # Output: (10, 'apple', 3.14)

(10, 'apple', 3.14)

In [3]:
t[1]

'apple'

In [4]:
t.append(33) #Tuples are immutable (you cannot modify their contents after creation).

AttributeError: 'tuple' object has no attribute 'append'

In [5]:
t1=["apple","banana","cherry"]
t2=tuple(t1)
print(type(t1))
print(type(t2))
t1[0]

<class 'list'>
<class 'tuple'>

'apple'

In [6]:
tuple?

In [7]:
t3=("jack","john","peter","john")
t4=list(t3)
print(t4)

['jack', 'john', 'peter', 'john']

In [8]:
t5=(12,23,21)
print(t3.count("john"))
print(sum(t5))
print(t5.index(23))
print(min(t5))
print(max(t5))

2
56
1
12
23

##Range
A range represents an immutable sequence of numbers.

It is commonly used for looping and generating sequences of integers.

Ranges are defined using the range() function.

In [9]:
r1 = range(1, 10)  # Generates numbers from 1 to 9
print(list(r1))  # Output: [1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
r2 = range(1,20,3)

print(r2)

print(list(r2))

for n in r2:
  print(n)

range(1, 20, 3)
[1, 4, 7, 10, 13, 16, 19]
1
4
7
10
13
16
19

#Mapping Types
##Dictionary
A dictionary is an ordered collection of unique values stored as key-value pairs.

Each key in the dictionary maps to a corresponding value.

Dictionaries are created using curly braces {} and contain comma-separated key-value pairs.

ordered: Starting from Python 3.7, dictionaries maintain the order of insertion

mutable: You can modify, add, or remove items from a dictionary after its creation.

No Duplicates: Each key in a dictionary is unique; duplicate keys are not allowed.

Access by Key: You can access values by using their corresponding keys.

Flexible Data Types: Dictionary values can be of any data type (e.g., strings, integers, lists, other dictionaries).

key of a dictionary can only be immutable objects. (eg: tuple, string, numbers(int,float,complex))

list, dictionary, set these cannot be a key of a dictionary

In [11]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}

In [12]:
#Accessing Values:
#Retrieve values by using their keys
print(my_dict["name"])  # Output: "Alice"

Alice

In [13]:
#Modify an existing value
my_dict["age"] = 31
print(my_dict)

{'name': 'Alice', 'age': 31, 'city': 'New York'}

In [14]:
#Add a new key-value pair
my_dict["gender"] = "Female"
print(my_dict)

{'name': 'Alice', 'age': 31, 'city': 'New York', 'gender': 'Female'}

In [15]:
#Removing Items:
#Use the del keyword to remove a key-value pair:
del my_dict["city"]
print(my_dict)

{'name': 'Alice', 'age': 31, 'gender': 'Female'}

In [16]:
#Length of a Dictionary:
#To find the number of key-value pairs in a dictionary, use the len() function
print(len(my_dict))  # Output: 3

3

In [17]:
dict1 = {"name" : "Hadhi", "age" : 21, "sex" : "Male"}

In [18]:
dict1[1] # Dictionary cannot be assesed with index numbers

KeyError: 1

In [19]:
dict1["Age"] #Case sensitive

KeyError: 'Age'

In [20]:
dict1["name"]="Hadhi Mishab P K"

In [21]:
print(dict1)

{'name': 'Hadhi Mishab P K', 'age': 21, 'sex': 'Male'}

In [22]:
dict2={"name":"Hunt","age":22,"sex":"Male","Occupation":"F1 Driver"}
print(dict2)
print(dict2["Occupation"])

{'name': 'Hunt', 'age': 22, 'sex': 'Male', 'Occupation': 'F1 Driver'}
F1 Driver

### Adding a data to dictionary

In [23]:
dict2["language"]="english"

In [25]:
print(dict2)

{'name': 'Hunt', 'age': 22, 'sex': 'Male', 'Occupation': 'F1 Driver', 'language': 'english'}

In [26]:
dict2.update({"age":31})

In [27]:
print(dict2)

{'name': 'Hunt', 'age': 31, 'sex': 'Male', 'Occupation': 'F1 Driver', 'language': 'english'}

In [28]:
dict3={"name":"Jack","age":22,"sex":"Male","Occupation":"F1 Driver","language":"english","car":"Maclaren"}

In [29]:
print(dict3)

{'name': 'Jack', 'age': 22, 'sex': 'Male', 'Occupation': 'F1 Driver', 'language': 'english', 'car': 'Maclaren'}

In [30]:
del dict3["sex"]

In [31]:
print(dict3)

{'name': 'Jack', 'age': 22, 'Occupation': 'F1 Driver', 'language': 'english', 'car': 'Maclaren'}

In [32]:
dict3.pop("name") # this will pop the indicated item

'Jack'

In [33]:
print(dict3)

{'age': 22, 'Occupation': 'F1 Driver', 'language': 'english', 'car': 'Maclaren'}

In [34]:
dict3.popitem() # this will pop out the last item

('car', 'Maclaren')

In [35]:
print(dict3)

{'age': 22, 'Occupation': 'F1 Driver', 'language': 'english'}

In [36]:
print(dict3["Occupation"]) # this is like acessing the data. square brackeets. shows error if we input someting which is not a key

F1 Driver

In [37]:
print(dict3.get("Occupatn")) # this is like a search. round brackets, shows the result if the input is available as a key. if not, returns none

None

In [38]:
print(dict3.keys())

dict_keys(['age', 'Occupation', 'language'])

In [39]:
print(dict3.values())

dict_values([22, 'F1 Driver', 'english'])

In [40]:
type(dict3.keys())

dict_keys

In [41]:
type(dict3.values())

dict_values

# Set Types

## 1  Set
A set is an unordered collection of unique elements.

Sets are mutable, meaning you can add or remove elements.

Sets do not allow duplicate values.

Sets are represented by curly braces {} or by using the set() constructor.

You can perform set operations like union, intersection, and difference

In [42]:
my_set = {1, 2, 3, 4}
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

In [43]:
names={"peter","john","jack"}
print(names)
names.add("jimi")
print(names)
k=names.pop()
print(k)
names.remove("peter")
print(names)
names.clear()
print(names)

{'john', 'jack', 'peter'}
{'john', 'jack', 'jimi', 'peter'}
john
{'jack', 'jimi'}
set()

In [44]:
set1={"cap","shirt","shoes","pants"}
set2={"cap","shirt","shoes"}
b=set1.intersection(set2)
print(b)
c=set1.union(set2) # is same as c=set.union(set1,set2)
print(c)
d=set1.difference(set2)
print(d)
b==set.intersection(set1,set2)
f=c=set.union(set1,set2)
print(f)

{'shoes', 'cap', 'shirt'}
{'shoes', 'shirt', 'pants', 'cap'}
{'pants'}
{'shoes', 'shirt', 'pants', 'cap'}

In [46]:
print(set.isdisjoint(set1,set2))

False

In [47]:
print(set1.isdisjoint(set2))

False

##Frozenset
A frozenset is an immutable version of a set

Frozensets cannot be modified after creation (no adding or removing elements).

Frozensets are hashable, which means they can be used as dictionary keys or as elements of another set.

In [48]:
my_frozenset = frozenset([10, 20, 30])
print(my_frozenset)  # Output: frozenset({10, 20, 30})

frozenset({10, 20, 30})

In [49]:
set3={1,2,3,4}
set5=(11,22,33,44)
set4=frozenset(set3)
print(set4)
print(type(set4))
print(type(set3))
set3.add(23)
print(set3)
print(set4.union(set5)) #the union of a frozen set with any other set is also a frozen set

frozenset({1, 2, 3, 4})
<class 'frozenset'>
<class 'set'>
{1, 2, 3, 4, 23}
frozenset({1, 2, 3, 4, 33, 11, 44, 22})