# 1. Write a Python program to check if two sets have any common elements.

In [1]:
# function recieves two sets.
def commonInSet(set1,set2):
    # converting those sets to list for indexing.
    list1 = list(set1)
    list2 = list(set2)
    # checking for common elements
    for i in list1:
        for j in list2:
            if i == j:
                print("They have common elements.")
                return True
            else:
                pass
    print("They have no common elements.")
    return False

In [2]:
s1 = {23,45,3,10,4}
s2 = {12,13,44,15,90,100}
commonInSet(s1,s2)

They have no common elements.

False

In [3]:
s3 = {23,45,13,10,44}
s4 = {12,13,44,15,90,100}
commonInSet(s3,s4)

They have common elements.

True

# 2. Write a Python program to find the difference between two sets.

In [4]:
# function recieves two sets.
def differenceSet(set1,set2):
    # converting those sets to list for indexing.
    list1 = list(set1)
    list2 = list(set2)
    # creating a set which will be the result.
    dif = set()
    for i in list1:
        if i in list2:
            continue
        else:
            dif.add(i)
    return dif

In [5]:
print(s3,s4)

{13, 23, 10, 44, 45} {100, 90, 12, 13, 44, 15}

In [6]:
differenceSet(s3,s4)

{10, 23, 45}

# 3. Write a Python program to find the symmetric difference between two sets.

In [7]:
def symmetricDifference(set1,set2):
    # converting those sets to list for indexing.
    list1 = list(set1)
    list2 = list(set2)
    # creating a union list
    unionList = []
    for i in list1:
        unionList.append(i)
    for i in list2:
        unionList.append(i)
    # castinf the unionList to class set
    unionSet = set(unionList)
    # creating an intersection set from list1 and list2
    intersectionList = []
    for i in list1:
        for j in list2:
            if i == j:
                intersectionList.append(i)
    # casting intersectionList to class set
    intersectionSet = set(intersectionList)
    # difference of intersectionSet from unionSet
    sd = differenceSet(unionSet,intersectionSet)
    print("The symmetric difference between",set1,"and",set2,"is:")
    return sd

In [8]:
print(s3,s4)

{13, 23, 10, 44, 45} {100, 90, 12, 13, 44, 15}

In [9]:
symmetricDifference(s3,s4)

The symmetric difference between {13, 23, 10, 44, 45} and {100, 90, 12, 13, 44, 15} is:

{10, 12, 15, 23, 45, 90, 100}

In [10]:
w = {'apple','banana','cherry'}
v = {'banana','cherry','date','fig'}
symmetricDifference(w,v)

The symmetric difference between {'apple', 'cherry', 'banana'} and {'date', 'fig', 'cherry', 'banana'} is:

{'apple', 'date', 'fig'}

# 4. Write a Python program to create a set from a given list and remove the duplicates.

In [11]:
# function will take a list.
def setFromList(L):
    # creating a list wich will actually will be a set
    setIs = []
    for i in L:
        if i in setIs:
            continue
        setIs.append(i)
    # now the list setIs actually a set that we want. However, to print it as a set
    setIs = set(setIs)
    print(setIs)

In [12]:
setFromList([20,20,22,22,22,24,26])

{24, 26, 20, 22}

In [13]:
setFromList(["rose","tulip","rose","lily","daisy","lily","sunflower"])

{'sunflower', 'daisy', 'tulip', 'rose', 'lily'}

# 5. Write a Python program to create a new set with all the elements from two sets, but exclude the common ones.

In [14]:
# It is same as question number 3

# 6. Write a Python program to check if a set is a subset of another set.

In [15]:
# checking set2 is a subset of set1
def checkIfSubset(set1,set2):
    list1 = list(set1)
    list2 = list(set2)
    for i in list2:
        if i in list1:
            pass
        else:
            return False
    return True

In [16]:
s5 = {7,5,5,9,10}
s6 = {5,7,9}
checkIfSubset(s5,s6)

True

In [17]:
s5 = {7,3,51,23,3}
s6 = {}
checkIfSubset(s5,s6)

True

In [18]:
s5 = {1,2,3,6}
s6 = {1,2,3,4,5}
checkIfSubset(s5,s6)

False

# 7. Write a Python program to find the maximum and minimum values in a set.

In [19]:
# function recieves a set s
def maxAndMinOfSet(s):
    # converting that set to list for indexing.
    l = list(s)
    # sorting that list in acending order
    l.sort()
    print("The maximum value of the set is:",l[len(l)-1],"\nThe minimum value of the set is:",l[0])

In [20]:
maxAndMinOfSet({23,45,11,0,-4,100})

The maximum value of the set is: 100
The minimum value of the set is: -4

In [21]:
maxAndMinOfSet({0,0,0,0,0,0})

The maximum value of the set is: 0
The minimum value of the set is: 0

In [22]:
maxAndMinOfSet({-10,-5,-1,0,1,5,10})

The maximum value of the set is: 10
The minimum value of the set is: -10

In [23]:
maxAndMinOfSet({3.14,1.59,2.71,1.41})

The maximum value of the set is: 3.14
The minimum value of the set is: 1.41

# 8. Write a Python program to remove all the elements from a set.

In [24]:
def removeSetElements(s):
    # function recieves a set s
    for i in range(len(s)):
        s.pop()
    return s

In [25]:
removeSetElements(s6)

set()

# 9. Write a Python program to update a set with the union of itself and another set.

In [26]:
# function will take two sets
def updateSetWithUnion(set1,set2):
    # converting those sets to list for indexing.
    list1 = list(set1)
    list2 = list(set2)
    # list1 is actually set1
    # appending the elements of list2 which is not already in list1, to list1. (union)
    for i in list2:
        if i in list1:
            continue
        else:
            list1.append(i)
    # casting back list1 to set1
    set1 = set(list1)
    print(set1)

In [27]:
s7 = {1,2,3}
s8 = {3,4,5}
updateSetWithUnion(s7,s8)

{1, 2, 3, 4, 5}

In [28]:
s7 = {10,20}
s8 = {20,30,40}
updateSetWithUnion(s7,s8)

{40, 10, 20, 30}

In [29]:
s7 = {1,2,3}
s8 = {1,2,3}
updateSetWithUnion(s7,s8)

{1, 2, 3}

In [30]:
s7 = {}
s8 = {1000,2050}
updateSetWithUnion(s7,s8)

{1000, 2050}

# 10. Write a Python program to find the sum of all the elements in a set.

In [31]:
# the function will take a set s
def sumOfElementsInSet(s):
    # converting those sets to list for indexing.
    list1 = list(s)
    # adding all elements of that list
    sum = 0
    for i in list1:
        sum = sum + i
    print(sum)

In [32]:
s9 = {1,2,3,4,5}
sumOfElementsInSet(s9)

15

In [33]:
s9 = {10,20,30}
sumOfElementsInSet(s9)

60

In [34]:
s9 = {-1,-2,-3}
sumOfElementsInSet(s9)

-6

In [35]:
s9 = {0,0,0,0}
sumOfElementsInSet(s9)

0

In [36]:
s9 = {1.5,2.5,3.5}
sumOfElementsInSet(s9)

7.5