# Define a book class with the following attribures: Title, Author name, price. Define a constructor used to initialize the attributes of the method with values entered by the user. Set the view method to display information for current book.

In [10]:
class Book:
    def __init__(self):
        self.title = input("Eneter the title of the book: ")
        self.name = input("Enter the the name of the authour: ")
        self.price = input("Enter the price: ")

    def view(self):
        print("Title:",self.title,"\nAuthour:",self.name,"\nPrice:",self.price)

In [11]:
book1 = Book()

Eneter the title of the book: To Kill a Mockingbird
Enter the the name of the authour: Harper Lee
Enter the price: 340

In [13]:
book2 = Book()

Eneter the title of the book: 1984
Enter the the name of the authour: George Orwell
Enter the price: 129

In [14]:
book3 = Book()

Eneter the title of the book: Pride and Prejudice
Enter the the name of the authour: Jane Austen
Enter the price: 500

In [16]:
book1.view()

Title: To Kill a Mockingbird
Authour: Harper Lee
Price: 340

In [17]:
book2.view()

Title: 1984
Authour: George Orwell
Price: 129

In [18]:
book3.view()

Title: Pride and Prejudice
Authour: Jane Austen
Price: 500