*   A function is a block of code which only runs when it is called.
*   You can pass data, known as parameters, into a function.
*   A function can return data as a result.

In [ ]:
# with argument
def functionName(parameter1,parameter2):
    print(parameter1 + 3)
    print(parameter2)
    return parameter1

In [ ]:
functionName(3,"jack")

6
jack

3

In [ ]:
# without argument

def FunctionName2():
    a = int(input("Enter number1: "))
    b = int(input("Enter number2: "))
    return a+b

In [ ]:
FunctionName2()

Enter number1: 3
Enter number2: 5

8

In [ ]:
# function without arguments and without return type
def functionName3():
    a = int(input('enter the numberl: '))
    b = int(input('enter the number2: '))
    sum = a + b
    print(sum)

print(functionName3())

enter the numberl: 3
enter the number2: 6
9
None

In [ ]:
def subFunction():
    a = int(input("Enter number1: "))
    b = int(input("Enter number2: "))
    sub = a - b
    if sub < 0:
        sub = sub * -1
    print(sub)

In [ ]:
subFunction()

Enter number1: 3
Enter number2: 5
2

In [ ]:
# non-default arguments cannot be added after default arguments while defigning a function
def add(a,b,c = 50, d = 20):
    add = a + b + c + d
    return add

In [ ]:
add(3,2,3)

28

In [ ]:
def factorial(n):
    f = 1
    if n < 0:
        print("Factorial does not exist for negative numbers.")
    elif n == 0:
        print("0! = 1")
    else:
        for i in range(1,n+1):
            f = f*i
        print(str(n)+'! =',f)

In [ ]:
factorial(5)

5! = 120

In [ ]:
def sum1(a,b):
    sum = a+b
    return sum

In [ ]:
sum1(50,60)

110

In [ ]:
def sum2(a,b,c):
    sum = a + b + c
    return sum

In [ ]:
sum2(50,60,53)

163

In [ ]:
def sum3(*args):
    sum = 0
    for i in args:
        sum = sum+i
    return sum

In [ ]:
sum3(3,2,2)

7

In [ ]:
def novovel(word):
    v = 'aeiouAEIOU'
    for k in word:
        if k in v:
            word = word.replace(k,"")
    return word

In [ ]:
novovel('hadhi MISHAB')

'hdh MSHB'

#24/07/2024

In [ ]:
def sub(a,b):
    if a<b:
        (a,b) = (b,a)
    return (a-b)

def div(a,b):
    if a<b:
        (a,b) = (b,a)
    return (a/b)

In [ ]:
sub(6,3)

3

In [ ]:
div(2,10)

5.0

# Decorator Function

In [ ]:
def swap_num(fn):
    def wrapper(n1,n2):
        if n1<=n2:
            (n1,n2) = (n2,n1)
        return fn(n1,n2)
    return wrapper

@swap_num
def sub(n1,n2):
    return n1-n2

@swap_num
def div(n1,n2):
    return n1/n2

In [ ]:
div(3,21)

7.0

# Lambda Function
Lambda Functions are similar to user defined functions but without a name.

They're commonly referred to as anonymous functions.

Syntax:

lambda arguments:expression


lambda is a keyword in Python for defining the anonymous function.

arguments is a placeholder, that is a variable that will be used to hold the
value you want to pass into the function expression.

A lambda function can have multiple variables depending on what you want to acheive.

expression is the code you want to execute in the lambda function.

In [ ]:
# by saving the function to a variable
y = lambda a:a+5

In [ ]:
y(3)

8

In [ ]:
# by calling it directly
print((lambda k:k**2)(4))

16

In [ ]:
# multiple variable
x = lambda a,b,c : a*b*c

In [ ]:
print(x(3,4,2))

24

In [ ]:
s = lambda h : h[::-1].upper()

In [ ]:
s("jack")

'KCAJ'

In [ ]:
q = lambda x,y : x-y if x>y else y-x

In [ ]:
q(4,5)

1

In [ ]:
oe = lambda n : "odd" if n%2 == 1 else "even"

In [ ]:
oe(76)

'even'

# Filter function
The filer function operates on a list and returns a subset of that list after
applying the filter rule.

The function filter( f, l ) needs a function f as it arguments.

f returns a Boolean value. ie either true or false.

this function will be applied to every element of the list l.

only if f returns True will element of the list I.

only if f returns True will the element of the list be included in the result list

In [ ]:
l1 = [33,44,56,21,80,2,5,7,4,1,0,765,100]

In [ ]:
w = filter(lambda x : x%2==0, l1)

In [ ]:
print(w)

<filter object at 0x7e63ff19bb50>

In [ ]:
print(list(w))

[44, 56, 80, 2, 4, 0, 100]

In [ ]:
names =['bolu' 'arun','raju', 'ramu', 'dolu','rema']
e = filter(lambda x : x[0]=='r',names)

In [ ]:
print(list(e))

['raju', 'ramu', 'rema']

# Map Function
The map() transforms a given list in to a new list by transforming each element using a rule, it is used to apply a function to each element of a list or any other iterable.

This is very useful when we do vector mathematics.

The map() function will take multiple list operates on then and return the output list.

One thing to note is that all the list should be of the same size. because map() applies the function to corresponding elements in those lists.

You use the map() function whenever you want to modify every value in interable

In [ ]:
list1 = [2,3,4,5]
print(list(map(lambda x:x**2, list1)))

[4, 9, 16, 25]

In [ ]:
list2 = ['raju','ramu', 'dolu', 'bolu','rema']
print(list(map(lambda x: x.startswith("r") ,list2)))

[True, True, False, False, True]

# Zip Function
The zip() function take iterables (can be zero or more) makes iterator that aggregates elements based on the iterables passed, and returns an iterator or tuples

syntax:

zip(*iterables)

In [ ]:
#[2,3,4],[3,2,3] = ((2,3),(3,2),(4,3))
#[2,3,4], [3,2,3], [2,1,4,5] =((2,3,2), (3,4,1), (4,3,4))
#[2,3,4], ['raju','bolu', 'dolu'] = ((2, 'raju')), (3, 'dolu'), (4, 'bolu'))

In [ ]:
name = ['raju', 'bolu', 'dolu']
rn = [3,4,5]
data = dict(zip(rn,name))
print(data)

{3: 'raju', 4: 'bolu', 5: 'dolu'}

In [ ]:
name = ["Jack","Rose","Jill"]
age = [23,2]
next1 = list(zip(name,age))
print(next1)
# here Jill has no corresponding value.

[('Jack', 23), ('Rose', 2)]

In [ ]:
doing = ["character", "flower", "cartoon"]
age.append(55)
next2 = list(zip(name,doing,age))
print(next2)

[('Jack', 'character', 23), ('Rose', 'flower', 2), ('Jill', 'cartoon', 55)]