# Create a DataFrame:
Create a DataFrame df from a dictionary containing the following data:

`data = {`<br>`'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],`
 <br>`'Age': [25, 30, 35, 40, 45],
 `<br>`'Salary': [50000, 60000, 70000, 80000, 90000]
`<br>`}`

Basic DataFrame Operations <br>
1. Display the first 3 rows of the DataFrame.<br>
2. Display the summary statistics for numerical columns.<br>
3. Retrieve the 'Age' column as a Series.<br>
4. Calculate the average salary.

In [ ]:
data = {
    "Name" : ["Alice", "Bob", "Charlie", "David", "Eva"],
    "age" : [20,30,35,40,45],
    "Salary" : [50000, 60000, 70000, 80000, 90000]
}

In [ ]:
import pandas as pd
df = pd.DataFrame(data)
print(df)

      Name  age  Salary
0    Alice   20   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   40   80000
4      Eva   45   90000

In [ ]:
# 1. Display the first 3 rows of the DataFrame.
print(df[:3])

      Name  age  Salary
0    Alice   20   50000
1      Bob   30   60000
2  Charlie   35   70000

In [ ]:
# 2. Display the summary statistics for numerical columns.
print(df.describe())

             age        Salary
count   5.000000      5.000000
mean   34.000000  70000.000000
std     9.617692  15811.388301
min    20.000000  50000.000000
25%    30.000000  60000.000000
50%    35.000000  70000.000000
75%    40.000000  80000.000000
max    45.000000  90000.000000

In [ ]:
# 3. Retrieve the 'Age' column as a Series
age_series = pd.Series(df["age"])
print(age_series)

0    20
1    30
2    35
3    40
4    45
Name: age, dtype: int64

In [ ]:
# 4. Calculate the average salary.
import numpy as np
print(np.mean(df["Salary"]))

70000.0