# DataFrame

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
a1 = [[3,4,5],[6,8,10]]
df1 = pd.DataFrame(a1)
print(df1)

   0  1   2
0  3  4   5
1  6  8  10

In [ ]:
a2 = [["James","Teacher",34],["Albert","Scientist",72]]
df2 = pd.DataFrame(a2)
print(df2)

        0          1   2
0   James    Teacher  34
1  Albert  Scientist  72

In [ ]:
a3 = {"Name":["Jakie","Peter","Butcher"],"Che":[40,60,50],"Mat":[50,40,40],"Phy":[50,60,40]}
df3 = pd.DataFrame(a3)
print(df3)

      Name  Che  Mat  Phy
0    Jakie   40   50   50
1    Peter   60   40   60
2  Butcher   50   40   40

In [ ]:
df3["Bio"] = [35,65,50]
print(df3)

      Name  Che  Mat  Phy  Bio
0    Jakie   40   50   50   35
1    Peter   60   40   60   65
2  Butcher   50   40   40   50

In [ ]:
df3["Total"] = df3["Che"] + df3["Phy"] + df3["Mat"] + df3["Bio"]
print(df3)

      Name  Che  Mat  Phy  Bio  Total
0    Jakie   40   50   50   35    175
1    Peter   60   40   60   65    225
2  Butcher   50   40   40   50    180

In [ ]:
l1 = list()
for i in df3["Total"]:
    if i >= 200:
        l1.append("Excellent")
    elif i >= 180 and i < 200:
        l1.append("Average")
    elif i >= 170 and i < 180:
        l1.append("Below average")

In [ ]:
print(l1)

['Below average', 'Excellent', 'Average']

In [ ]:
df3["Status"] = l1
print(df3)

      Name  Che  Mat  Phy  Bio  Total         Status
0    Jakie   40   50   50   35    175  Below average
1    Peter   60   40   60   65    225      Excellent
2  Butcher   50   40   40   50    180        Average

In [ ]:
print(df3[["Name","Mat","Status"]])

      Name  Mat         Status
0    Jakie   50  Below average
1    Peter   40      Excellent
2  Butcher   40        Average

In [ ]:
print(df3)

      Name  Che  Mat  Phy  Bio  Total         Status
0    Jakie   40   50   50   35    175  Below average
1    Peter   60   40   60   65    225      Excellent
2  Butcher   50   40   40   50    180        Average

In [ ]:
del df3["Che"]

In [ ]:
print(df3)

      Name  Mat  Phy  Bio  Total         Status
0    Jakie   50   50   35    175  Below average
1    Peter   40   60   65    225      Excellent
2  Butcher   40   40   50    180        Average

In [ ]:
df3 = df3.drop(1)

In [ ]:
print(df3)

      Name  Mat  Phy  Bio  Total         Status
0    Jakie   50   50   35    175  Below average
2  Butcher   40   40   50    180        Average

In [ ]:
df3 = df3.drop("Bio", axis = 1)

In [ ]:
print(df3)

      Name  Mat  Phy  Total         Status
0    Jakie   50   50    175  Below average
2  Butcher   40   40    180        Average

In [ ]:
df3.pop("Phy")

0    50
2    40
Name: Phy, dtype: int64

In [ ]:
print(df3)

      Name  Mat  Total         Status
0    Jakie   50    175  Below average
2  Butcher   40    180        Average

In [ ]:
a3 = {"Name":["Jakie","Peter","Butcher"],"Che":[40,60,50],"Mat":[60,40,40],"Phy":[50,60,40]}
df3 = pd.DataFrame(a3)
df3["Bio"] = [35,65,50]
df3["Total"] = df3["Che"] + df3["Phy"] + df3["Mat"] + df3["Bio"]
l1 = list()
for i in df3["Total"]:
    if i >= 200:
        l1.append("Excellent")
    elif i >= 180 and i < 200:
        l1.append("Average")
    elif i >= 170 and i < 180:
        l1.append("Below average")
df3["Status"] = l1
print(df3)

      Name  Che  Mat  Phy  Bio  Total     Status
0    Jakie   40   60   50   35    185    Average
1    Peter   60   40   60   65    225  Excellent
2  Butcher   50   40   40   50    180    Average

In [ ]:
print(df3.shape)

(3, 7)

In [ ]:
print(df3.size)

21

In [ ]:
print(df3.ndim)

2

In [ ]:
print(df3.columns)

Index(['Name', 'Che', 'Mat', 'Phy', 'Bio', 'Total', 'Status'], dtype='object')

In [ ]:
print(df3["Status"].unique())

['Average' 'Excellent']

In [ ]:
print(df3["Mat"].unique())

[60 40]

In [ ]:
print(df3["Mat"].value_counts())

Mat
40    2
60    1
Name: count, dtype: int64

In [ ]:
print(df3.head())

      Name  Che  Mat  Phy  Bio  Total     Status
0    Jakie   40   60   50   35    185    Average
1    Peter   60   40   60   65    225  Excellent
2  Butcher   50   40   40   50    180    Average

In [ ]:
print(df3.head(2))

    Name  Che  Mat  Phy  Bio  Total     Status
0  Jakie   40   60   50   35    185    Average
1  Peter   60   40   60   65    225  Excellent

In [ ]:
print(df3.tail())

      Name  Che  Mat  Phy  Bio  Total     Status
0    Jakie   40   60   50   35    185    Average
1    Peter   60   40   60   65    225  Excellent
2  Butcher   50   40   40   50    180    Average

In [ ]:
print(df3.tail(2))

      Name  Che  Mat  Phy  Bio  Total     Status
1    Peter   60   40   60   65    225  Excellent
2  Butcher   50   40   40   50    180    Average

In [ ]:
print(df3.describe())

        Che        Mat   Phy   Bio       Total
count   3.0   3.000000   3.0   3.0    3.000000
mean   50.0  46.666667  50.0  50.0  196.666667
std    10.0  11.547005  10.0  15.0   24.664414
min    40.0  40.000000  40.0  35.0  180.000000
25%    45.0  40.000000  45.0  42.5  182.500000
50%    50.0  40.000000  50.0  50.0  185.000000
75%    55.0  50.000000  55.0  57.5  205.000000
max    60.0  60.000000  60.0  65.0  225.000000

In [ ]:
print(df3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Che     3 non-null      int64
 2   Mat     3 non-null      int64
 3   Phy     3 non-null      int64
 4   Bio     3 non-null      int64
 5   Total   3 non-null      int64
 6   Status  3 non-null      object
dtypes: int64(5), object(2)
memory usage: 296.0+ bytes
None

In [ ]:
print(df3.sum())

Name            JakiePeterButcher
Che                           150
Mat                           140
Phy                           150
Bio                           150
Total                         590
Status    AverageExcellentAverage
dtype: object

In [ ]:
print(df3[["Che","Mat","Phy","Bio"]].sum())

Che    150
Mat    140
Phy    150
Bio    150
dtype: int64

In [ ]:
df3.sum(1)  # row wise addition is not possible since each row contains str and int

TypeError: can only concatenate str (not "int") to str

In [ ]:
# But if i delete those columns wich has strings.
del df3["Name"]
del df3["Status"]

In [ ]:
df3.sum(1)  # now there is no problem

0    370
1    450
2    360
dtype: int64

In [ ]:
df3["Bio"].mean()

50.0