# Slicing

## iloc[ ]

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data1 = [["raju",40,60,40,40,60,12,4,6,40],["ramu",60,30,90,40,60,40],["dolu",40,50,12,40,60,40]]
data2 = {"Name":["raju","ramu","sarang","raju","ramu","sarang","raju","ramu","sarang"],"che":[40,60,40,40,40,60,40,40,60],"mat":[40,60,40,40,60,40,60,40,20],"phy":[40,30,50,20,80,50,60,10,30]}
df = pd.DataFrame(data2)
df["bio"] = [60,48,50,60,48,50,60,48,50]
df["total mark"] = df["che"] + df["mat"] + df["phy"] + df["bio"]
print(df)

     Name  che  mat  phy  bio  total mark
0    raju   40   40   40   60         180
1    ramu   60   60   30   48         198
2  sarang   40   40   50   50         180
3    raju   40   40   20   60         160
4    ramu   40   60   80   48         228
5  sarang   60   40   50   50         200
6    raju   40   60   60   60         220
7    ramu   40   40   10   48         138
8  sarang   60   20   30   50         160

In [ ]:
print(df.iloc[2:6,:4])

     Name  che  mat  phy
2  sarang   40   40   50
3    raju   40   40   20
4    ramu   40   60   80
5  sarang   60   40   50

## loc[ ]

In [ ]:
print(df.loc[0:6,:"bio"])

     Name  che  mat  phy  bio
0    raju   40   40   40   60
1    ramu   60   60   30   48
2  sarang   40   40   50   50
3    raju   40   40   20   60
4    ramu   40   60   80   48
5  sarang   60   40   50   50
6    raju   40   60   60   60

# Acessing values

## iat[ ]

In [ ]:
print(df.iat[7,4])

48

## at[ ]

In [ ]:
print(df.at[8,"mat"])

20

# pipe( )

In [ ]:
data = [[30,10,45,67,33,90],[70,63,78,13,9,38],[14,74,86,90,11,4]]
df = pd.DataFrame(data)
print(df)

    0   1   2   3   4   5
0  30  10  45  67  33  90
1  70  63  78  13   9  38
2  14  74  86  90  11   4

In [ ]:
def adder(a,b):
    return a+b

In [ ]:
print(df.pipe(adder,2))

    0   1   2   3   4   5
0  32  12  47  69  35  92
1  72  65  80  15  11  40
2  16  76  88  92  13   6

In [ ]:
data = [[30,10,45,67,33,90],[70,63,78,13,9,38],[14,74,86,90,11,4]]
df = pd.DataFrame(data)
print(df)

    0   1   2   3   4   5
0  30  10  45  67  33  90
1  70  63  78  13   9  38
2  14  74  86  90  11   4

In [ ]:
def square(a):
    return a**2

In [ ]:
print(df.apply(square, axis = 0))   # column wise

      0     1     2     3     4     5
0   900   100  2025  4489  1089  8100
1  4900  3969  6084   169    81  1444
2   196  5476  7396  8100   121    16

In [ ]:
print(df.apply(square, axis = 1))   # row wise

      0     1     2     3     4     5
0   900   100  2025  4489  1089  8100
1  4900  3969  6084   169    81  1444
2   196  5476  7396  8100   121    16

In [ ]:
data = [[30,10,45,67,33,90],[70,63,78,13,9,38],[14,74,86,90,11,4]]
df = pd.DataFrame(data)
print(df)

    0   1   2   3   4   5
0  30  10  45  67  33  90
1  70  63  78  13   9  38
2  14  74  86  90  11   4

In [ ]:
print(df.apply(np.mean, axis = 0))  # column wise

0    38.000000
1    49.000000
2    69.666667
3    56.666667
4    17.666667
5    44.000000
dtype: float64

In [ ]:
print(df.apply(np.mean, axis = 1))  # row wise, default is 0

0    45.833333
1    45.166667
2    46.500000
dtype: float64

In [ ]:
data = [[30,10,45,67,33,90],[70,63,78,13,9,38],[14,74,86,90,11,4]]
df = pd.DataFrame(data)
print(df)

    0   1   2   3   4   5
0  30  10  45  67  33  90
1  70  63  78  13   9  38
2  14  74  86  90  11   4

In [ ]:
print(df.apply(np.sum)) # column wise

0    114
1    147
2    209
3    170
4     53
5    132
dtype: int64

In [ ]:
print(df.apply(np.sum, axis = 1))   # row wise, default value is 0

0    275
1    271
2    279
dtype: int64

In [ ]:
data = [[30,10,45,67,33,90],[70,63,78,13,9,38],[14,74,86,90,11,4]]
df = pd.DataFrame(data)
print(df)

    0   1   2   3   4   5
0  30  10  45  67  33  90
1  70  63  78  13   9  38
2  14  74  86  90  11   4

In [ ]:
def adder(a):
    return a.sum()

In [ ]:
print(df.apply(adder))  # colums wise

0    114
1    147
2    209
3    170
4     53
5    132
dtype: int64

In [ ]:
print(df.apply(adder, axis = 1))    # row wise, default is 0

0    275
1    271
2    279
dtype: int64

In [ ]:
data = [[30,10,45,67,33,90],[70,63,78,13,9,38],[14,74,86,90,11,4]]
df = pd.DataFrame(data)
print(df)

    0   1   2   3   4   5
0  30  10  45  67  33  90
1  70  63  78  13   9  38
2  14  74  86  90  11   4

In [ ]:
print(df.apply(lambda x: x.max() - x.min()))    # column wise

0    56
1    64
2    41
3    77
4    24
5    86
dtype: int64

In [ ]:
print(df.apply(lambda x: x.max() - x.min(), axis = 1))  # row wise, default is 0

0    80
1    69
2    86
dtype: int64