# 1. How do you reverse a string in python?

In [1]:
temp01 = "This is a normal string."

In [2]:
print(temp01[::-1])

.gnirts lamron a si sihT

# 2. How do you remove duplicates from a list?

In [3]:
list01 = [34,55,34, "hai", 100, 65, "jack", "hai", 99]

In [4]:
print(list(set(list01)))

[65, 34, 99, 100, 'jack', 55, 'hai']

# 4. How do you write a file in python?

In [58]:
with open("sample_file.txt", "w") as document:
    document.write("This is a sample file.\nThis is the second line.")

# 3. How do you read a file in python?

In [59]:
with open("sample_file.txt", "r") as document:
    data = document.read()
    print(data)

This is a sample file.
This is the second line.

# 5. How do you create a virtual env?
`python -m venv my_env`

# 6. What is zip() used for?

In [23]:
names = ["Jack", "Peter", "Tom", "Hope"]
marks = [40, 50, 45, 49]

In [24]:
mark_sheet = zip(names, marks)

In [28]:
print(list(mark_sheet))

[('Jack', 40), ('Peter', 50), ('Tom', 45), ('Hope', 49)]

# 7. Write a python program to find factorial of a number?

In [40]:
n = int(input("Enter any whole number : "))

factorial = 1
for i in range(1, n+1):
    factorial *= i

print(str(n) + "! =", factorial)

Enter any whole number : 5
5! = 120

# 8. Write a python program to check a number is odd or even?

In [46]:
n = int(input("Enter a number : "))
print(n, "is odd") if n & 1 else print(n, "is even")

Enter a number : 99
99 is odd

# 9. Convert a list to string

In [47]:
list02 = ["This", "is", "a", "python", "code"]

In [48]:
print(" ".join(list02))

This is a python code

# 10. Print a pyramid star pattern

In [57]:
n = int(input("Enter number of lines for the pyramid : "))
for i in range(1, n + 1):
    print("*" * i)

Enter number of lines for the pyramid : 6
*
**
***
****
*****
******