# 1. Create a class called Rectangle with attributes width and height. The class should prevent the width and height attributes from being set to negative values. Add methods to calculate the area and perimeter of the rectangle.

In [ ]:
class Rectangle:
    def __init__(self,w,h):
        if ( w < 0 ) or ( h < 0 ):
            print("Negative values are not allowed.")
            return
        self.width = w
        self.height = h
    def area(self):
        return self.width * self.height
    def perimeter(self):
        return ( 2 * self.width ) + ( 2 * self.height )

In [ ]:
shape1 = Rectangle(3,5)

In [ ]:
shape1.area()

15

In [ ]:
shape1.perimeter()

16

In [ ]:
shape2 = Rectangle(2,-4)

Negative values are not allowed.

# 2. Create a class called Employee with attributes name, age, position and salary. Add methods to give the employee a raise, and to print out their information in a formatted way.

In [ ]:
class Employee:
    def __init__(self,name,age,position,salary):
        self.name = name
        self.age = age
        self.position = position
        self.salary = salary
    def empRaise(self,amount):
        self.salary += amount
    def showDetails(self):
        print("Name\t:",self.name,"\nAge\t:",self.age,"\nPosition:",self.position,"\nSalary\t:",self.salary)

In [ ]:
man1 = Employee("jack",33,"teacher",30000)
man2 = Employee("John",12,"student",4000)

In [ ]:
man1.showDetails()

Name	: jack
Age	: 33
Position: teacher
Salary	: 30000

In [ ]:
man2.showDetails()

Name	: John
Age	: 12
Position: student
Salary	: 4000

In [ ]:
man1.empRaise(500)
man2.empRaise(999)

In [ ]:
man1.showDetails()

Name	: jack
Age	: 33
Position: teacher
Salary	: 30500

In [ ]:
man2.showDetails()

Name	: John
Age	: 12
Position: student
Salary	: 4999

# 3. Create a class called Fraction with attributes numerator and denominator. Add methods to add, subtract, multiply and divide two fractions. Also, add a method to simplify the fraction to its lowest terms.

In [ ]:
class Fraction:
    def __init__(self,numerator,denominator):
        if denominator == 0:
            print("Denominator cannot be zero.")
            return
        self.n = numerator
        self.d = denominator
    def __add__(self,other):
        sumNumerator = ((self.n)*(other.d)) + ((other.n)*(self.d))
        sumDenominator = self.d * other.d
        print("{}/{} + {}/{} = {}/{}".format(self.n,self.d,other.n,other.d,sumNumerator,sumDenominator))
        return
    def __sub__(self,other):
        subNumerator = ((self.n)*(other.d)) - ((other.n)*(self.d))
        subDenominator = self.d * other.d
        print("{}/{} - {}/{} = {}/{}".format(self.n,self.d,other.n,other.d,subNumerator,subDenominator))
        return
    def __mul__(self,other):
        mulNumerator = (self.n) * (other.n)
        mulDenominator = (self.d) * (other.d)
        print("{}/{} X {}/{} = {}/{}".format(self.n,self.d,other.n,other.d,mulNumerator,mulDenominator))
        return
    def __truediv__(self,other):
        divNumerator = (self.n) * (other.d)
        divDenominator = (self.d) * (other.n)
        print("{}/{} รท {}/{} = {}/{}".format(self.n,self.d,other.n,other.d,divNumerator,divDenominator))
        return
    def simplify(numerator,denominator):
        n = numerator
        d = denominator
        def gcd(n,d):
            while d != 0:
                (n), (d) = (d), (n % d)
            return n
        simpleNumerator = numerator//gcd(numerator,denominator)
        simpleDenominator = denominator//gcd(numerator,denominator)
        print("simplified value of {}/{} is {}/{}".format(numerator,denominator,simpleNumerator,simpleDenominator))

In [ ]:
value1 = Fraction(-3,1)

In [ ]:
value2 = Fraction(5,8)

In [ ]:
value1 + value2

-3/1 + 5/8 = -19/8

In [ ]:
Fraction.simplify(55,80)

simplified value of 55/80 is 11/16

# 4. Create a class called Person with attributes name and age. Add a method to calculate the age difference between two people.

In [ ]:
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def __sub__(self,other):
        ageDifference = self.age - other.age
        if ageDifference < 0:
            ageDifference = ageDifference * -1
        print("{} and {} has an age difference of {} years.".format(self.name,other.name,ageDifference))

In [ ]:
man1 = Person("Ramu",20)
man2 = Person("Danu",40)
man3 = Person("Sreeju",15)

In [ ]:
man1-man2

Ramu and Danu has an age difference of 20 years.

In [ ]:
man2-man3

Danu and Sreeju has an age difference of 25 years.

In [ ]:
man3-man1

Sreeju and Ramu has an age difference of 5 years.

# 5. Create a class called Playlist with a list of songs as an attribute. Add methods to add and remove songs from the playlist, and to shuffle the playlist.

In [ ]:
import random

class Playlist:
    def __init__(self,songs):
        self.songs = songs
        for i in self.songs:
            print(i)
    def add(self,song):
        self.songs.append(song)
        for i in self.songs:
            print(i)
    def remove(self,song):
        self.songs.remove(song)
        for i in self.songs:
            print(i)
    def shuffle(self):
        random.shuffle(self.songs)
        for i in self.songs:
            print(i)

In [ ]:
bit1 = Playlist(["Bohemian Rhapsody", "Hotel California", "Stairway to Heaven", "Imagine", "Hey Jude", "Smells Like Teen Spirit"])

Bohemian Rhapsody
Hotel California
Stairway to Heaven
Imagine
Hey Jude
Smells Like Teen Spirit

In [ ]:
bit1.remove("Hey Jude")

Bohemian Rhapsody
Hotel California
Stairway to Heaven
Imagine
Smells Like Teen Spirit

In [ ]:
bit1.add("Economy")

Bohemian Rhapsody
Hotel California
Stairway to Heaven
Imagine
Smells Like Teen Spirit
Economy

In [ ]:
bit1.shuffle()

Hotel California
Smells Like Teen Spirit
Imagine
Stairway to Heaven
Economy
Bohemian Rhapsody

# 6. Create a class called BankAccount with attributes balance and account_number. Add methods to transfer money between accounts and to print out the transaction history of the account.

In [ ]:
class BankAccount:
    def __init__(self,account_number,balance):
        self.passbook = list()
        self.a = account_number
        self.b = balance
        self.passbook.append(["Account Opening","Cash Deposit",self.a,self.b,self.b])

    def transfer(self,other,amount):
        self.b = self.b - amount
        other.b += amount
        self.passbook.append(["Debit",self.a,other.a,amount,self.b])
        other.passbook.append(["Credit",self.a,other.a,amount,other.b])

    def history(self):
        count = 0
        print("Transcation history of acc no.",self.a)
        print("_"*33,"\n\n")
        for i in self.passbook:
            count += 1
            print("Transcation Type:",i[0],"\nFrom acc\t:",i[1],"\nTo acc\t\t:",i[2],"\nAmount\t\t:",i[3],"\nBalance\t\t:",i[4])
            if count != len(self.passbook):
                print("\n"+"-"*50,"\n")

In [ ]:
man1 = BankAccount(11,10000)

In [ ]:
man2 = BankAccount(22,15000)

In [ ]:
man1.transfer(man2,3000)

In [ ]:
man1.history()

Transcation history of acc no. 11
_________________________________


Transcation Type: Account Opening
From acc	: Cash Deposit
To acc		: 11
Amount		: 10000
Balance		: 10000

--------------------------------------------------

Transcation Type: Debit
From acc	: 11
To acc		: 22
Amount		: 3000
Balance		: 7000

In [ ]:
man2.history()

Transcation history of acc no. 22
_________________________________


Transcation Type: Account Opening
From acc	: Cash Deposit
To acc		: 22
Amount		: 15000
Balance		: 15000

--------------------------------------------------

Transcation Type: Credit
From acc	: 11
To acc		: 22
Amount		: 3000
Balance		: 18000

In [ ]:
man2.transfer(man1,50)

In [ ]:
man1.history()

Transcation history of acc no. 11
_________________________________


Transcation Type: Account Opening
From acc	: Cash Deposit
To acc		: 11
Amount		: 10000
Balance		: 10000

--------------------------------------------------

Transcation Type: Debit
From acc	: 11
To acc		: 22
Amount		: 3000
Balance		: 7000

--------------------------------------------------

Transcation Type: Credit
From acc	: 22
To acc		: 11
Amount		: 50
Balance		: 7050

In [ ]:
man2.history()

Transcation history of acc no. 22
_________________________________


Transcation Type: Account Opening
From acc	: Cash Deposit
To acc		: 22
Amount		: 15000
Balance		: 15000

--------------------------------------------------

Transcation Type: Credit
From acc	: 11
To acc		: 22
Amount		: 3000
Balance		: 18000

--------------------------------------------------

Transcation Type: Debit
From acc	: 22
To acc		: 11
Amount		: 50
Balance		: 17950

# 7. Create a class called Deck with a list of cards as an attribute. Add methods to shuffle the deck, draw a card from the deck, and add a card to the deck.

In [ ]:
import random

class Deck:
    def __init__(self,cards:list):
        self.cards = cards
        print("Available cards are,\n",self.cards)
    def shuffle(self):
        random.shuffle(self.cards)
        print("Shuffled order,\n",self.cards)
    def draw(self):
        idx = random.randint(0,len(self.cards)-1)
        print("Drawn card is",self.cards[idx])
    def add(self,new_card):
        if not isinstance(new_card,tuple):
            print("Input as a tuple.")
            return
        self.new = new_card
        self.cards.append(self.new)
        print(self.cards)

In [ ]:
mycards = Deck([('hearts', 2),
 ('spades', 7),
 ('diamonds', 5),
 ('clubs', 7),
 ('hearts', 8),
 ('hearts', 10),
 ('spades', 9)])

Available cards are,
 [('hearts', 2), ('spades', 7), ('diamonds', 5), ('clubs', 7), ('hearts', 8), ('hearts', 10), ('spades', 9)]

In [ ]:
mycards.shuffle()

Shuffled order,
 [('clubs', 7), ('hearts', 2), ('diamonds', 5), ('hearts', 8), ('hearts', 10), ('spades', 7), ('spades', 9)]

In [ ]:
mycards.draw()

Drawn card is ('spades', 9)

In [ ]:
mycards.add(("heart","king"))

[('clubs', 7), ('hearts', 2), ('diamonds', 5), ('hearts', 8), ('hearts', 10), ('spades', 7), ('spades', 9), ('heart', 'king')]

# 8. Create a class called Animal with the properties name, species, and sound. Create a method called make_sound that prints the sound of the animal.

In [ ]:
class Animal:
    def __init__(self,name,species,sound):
        self.name = name
        self.species = species
        self.sound = sound
    def make_sound(self):
        print(self.sound)

In [ ]:
eg1 = Animal("Lion","Panthera leo","Roar")

In [ ]:
eg1.make_sound()

Roar

# 9. Create a subclass of Animal called Dog. The Dog class should have an additional property called breed. Override the make_sound method to print "Woof!".

In [ ]:
class Dog(Animal):
    def __init__(self,name,species,breed):
        super().__init__(name,species,sound = "Woof!")
        self.breed = breed
    def make_sound(self):
        print(self.sound)

In [ ]:
dog1 = Dog("Dog","Canis lupus","Labrador Retriever")

In [ ]:
dog1.make_sound()

Woof!

# 10. Create another subclass of Animal called Cat. The Cat class should have an additional property called color. Override the make_sound method to print "Meow!"

In [ ]:
class Cat(Animal):
    def __init__(self,name,species,color):
        super().__init__(name,species,sound = "Meow!")
        self.color = color
    def make_sound(self):
        print(self.sound)

In [ ]:
cat1 = Cat("Cat","Felis catus","Siamese")

In [ ]:
cat1.make_sound()

Meow!

# 11. Create a class called Zoo with a property animals that is a list of Animal objects. Create a method called add_animal that adds an animal to the list. Create a method called list_animals that prints the name and species of each animal in the list.

In [ ]:
class Zoo:
    def __init__(self):
        self.animals = list()
    def add_animal(self,animal):
        self.animals.append(animal)
    def list_animals(self):
        for i in self.animals:
            print("Name: {}\tSpecies: {}".format(i.name,i.species))

# 12. Create an instance of Zoo. Add an instance of Dog and an instance of Cat to the Zoo. Call the list_animals method to print the information of all the animals in the zoo.

In [ ]:
zoo1 = Zoo()

In [ ]:
zoo1.add_animal(cat1)
zoo1.add_animal(dog1)

In [ ]:
zoo1.list_animals()

Name: Cat	Species: Felis catus
Name: Dog	Species: Canis lupus

# 13. Create a subclass of Dog called GuideDog. The GuideDog class should have an additional property called trained_for. Override the make_sound method to print "Bark!".

In [ ]:
class GuideDog(Dog):
    def __init__(self,name,species,breed,trained_for):
        super().__init__(name,species,breed)
        self.trained_for = trained_for
    def make_sound(self):
        print(self.sound)

In [ ]:
dog2 = GuideDog("Max","temp","Labrador","assistance")

In [ ]:
dog2.make_sound()

Woof!