# 1. Write a python program to check whether a year is leap year or not.

In [10]:
year = int(input("Enter year : "))

yes = "{} is a leap year.".format(year)
no = "{} is not a leap year.".format(year)

if year % 100 == 0:
    if year % 400 == 0:
        print(yes)
    else:
        print(no)
elif year % 4 == 0:
    print(yes)

Enter year : 2100
2100 is not a leap year.

# 2. Print list in reverse order using a loop.

In [11]:
data_types = [
    42,                             # Integer
    3.14,                           # Float
    "Hello, World!",                # String
    True,                           # Boolean
    [1, 2, 3],                      # List
    (4, 5, 6),                      # Tuple
    {"name": "Alice", "age": 30},   # Dictionary
    {7, 8, 9}                       # Set
]

In [12]:
for item in data_types[::-1]:
    print(item)

{8, 9, 7}
{'name': 'Alice', 'age': 30}
(4, 5, 6)
[1, 2, 3]
True
Hello, World!
3.14
42

# 3. Get a string from a given string where all occurrences of its first character have been changed to "\$", except the first char itself.
eg: input = "restart"

output = "resta$t"

In [16]:
str01 = input("Enter a string: ")
head = str01[0]
output = head
for i in str01[1:]:
    if i == head:
        i = "$"
    output += i
print(output)

Enter a string: mammal
ma$$al

# 4. Find the numbers which are divisible by 7 and multiples of 5, between 100 and 500 (both included).

In [17]:
for i in range(100,501):
    if (i % 7 == 0) and (i % 5 == 0):
        print(i)

105
140
175
210
245
280
315
350
385
420
455
490