# 1. Print  list in reverse order using a loop.

In [2]:
data_types = [
    42,                             # Integer
    3.14,                           # Float
    "Hello, World!",                # String
    True,                           # Boolean
    [1, 2, 3],                      # List
    (4, 5, 6),                      # Tuple
    {"name": "Alice", "age": 30},   # Dictionary
    {7, 8, 9}                       # Set
]

In [4]:
for i in data_types[::-1]:
    print(i)

{8, 9, 7}
{'name': 'Alice', 'age': 30}
(4, 5, 6)
[1, 2, 3]
True
Hello, World!
3.14
42

# 2. Use a loop to display elements from a given list present at an odd index position.

In [8]:
data_types = [
    42,                             # Integer
    3.14,                           # Float
    "Hello, World!",                # String
    True,                           # Boolean
    [1, 2, 3],                      # List
    (4, 5, 6),                      # Tuple
    {"name": "Alice", "age": 30},   # Dictionary
    {7, 8, 9}                       # Set
]

In [15]:
count = 0
for i in data_types:
    count = count + 1
    if count % 2 == 0:
        continue
    print(i)

42
Hello, World!
[1, 2, 3]
{'name': 'Alice', 'age': 30}