# Lambda Function
Lambda Functions are similar to user defined functions but without a name.

They're commonly referred to as anonymous functions.

Syntax:

lambda arguments:expression


lambda is a keyword in Python for defining the anonymous function.

arguments is a placeholder, that is a variable that will be used to hold the
value you want to pass into the function expression.

A lambda function can have multiple variables depending on what you want to acheive.

expression is the code you want to execute in the lambda function.

In [ ]:
# by saving the function to a variable
y = lambda a:a+5

In [ ]:
y(3)

8

In [ ]:
# by calling it directly
print((lambda k:k**2)(4))

16

In [ ]:
# multiple variable
x = lambda a,b,c : a*b*c

In [ ]:
print(x(3,4,2))

24

In [ ]:
s = lambda h : h[::-1].upper()

In [ ]:
s("jack")

'KCAJ'

In [ ]:
q = lambda x,y : x-y if x>y else y-x

In [ ]:
q(4,5)

1

In [ ]:
oe = lambda n : "odd" if n%2 == 1 else "even"

In [ ]:
oe(76)

'even'

# Filter function
The filer function operates on a list and returns a subset of that list after
applying the filter rule.

The function filter( f, l ) needs a function f as it arguments.

f returns a Boolean value. ie either true or false.

this function will be applied to every element of the list l.

only if f returns True will element of the list I.

only if f returns True will the element of the list be included in the result list

In [ ]:
l1 = [33,44,56,21,80,2,5,7,4,1,0,765,100]

In [ ]:
w = filter(lambda x : x%2==0, l1)

In [ ]:
print(w)

<filter object at 0x7e63ff19bb50>

In [ ]:
print(list(w))

[44, 56, 80, 2, 4, 0, 100]

In [ ]:
names =['bolu' 'arun','raju', 'ramu', 'dolu','rema']
e = filter(lambda x : x[0]=='r',names)

In [ ]:
print(list(e))

['raju', 'ramu', 'rema']

# Map Function
The map() transforms a given list in to a new list by transforming each element using a rule, it is used to apply a function to each element of a list or any other iterable.

This is very useful when we do vector mathematics.

The map() function will take multiple list operates on then and return the output list.

One thing to note is that all the list should be of the same size. because map() applies the function to corresponding elements in those lists.

You use the map() function whenever you want to modify every value in interable

In [ ]:
list1 = [2,3,4,5]
print(list(map(lambda x:x**2, list1)))

[4, 9, 16, 25]

In [ ]:
list2 = ['raju','ramu', 'dolu', 'bolu','rema']
print(list(map(lambda x: x.startswith("r") ,list2)))

[True, True, False, False, True]

# Zip Function
The zip() function take iterables (can be zero or more) makes iterator that aggregates elements based on the iterables passed, and returns an iterator or tuples

syntax:

zip(*iterables)

In [ ]:
#[2,3,4],[3,2,3] = ((2,3),(3,2),(4,3))
#[2,3,4], [3,2,3], [2,1,4,5] =((2,3,2), (3,4,1), (4,3,4))
#[2,3,4], ['raju','bolu', 'dolu'] = ((2, 'raju')), (3, 'dolu'), (4, 'bolu'))

In [1]:
name = ['raju', 'bolu', 'dolu']
rn = [3,4,5]
data = dict(zip(rn,name))
print(data)

{3: 'raju', 4: 'bolu', 5: 'dolu'}

In [5]:
name = ["Jack","Rose","Jill"]
age = [23,2]
next1 = list(zip(name,age))
print(next1)
# here Jill has no corresponding value.

[('Jack', 23), ('Rose', 2)]

In [9]:
doing = ["character", "flower", "cartoon"]
age.append(55)
next2 = list(zip(name,doing,age))
print(next2)

[('Jack', 'character', 23), ('Rose', 'flower', 2), ('Jill', 'cartoon', 55)]

# Exception Handling

In [ ]:
num1 = int(input("Num1: "))
num2 = int(input("Num2: "))
num3 = num1/num2
print(num3)

Num1: 10
Num2: 2
5.0

In [ ]:
# no problem on above event
# here we have a problem
# error : division by zero
num1 = int(input("Num1: "))
num2 = int(input("Num2: "))
num3 = num1/num2
print(num3)

Num1: 10
Num2: 0

ZeroDivisionError: division by zero

In [ ]:
# to solve that
num1 = int(input("Num1: "))
num2 = int(input("Num2: "))
try:
    num3 = num1/num2
    print(num3)
except:
    print("An error exists.")

Num1: 10
Num2: 0
An error exists.

In [ ]:
# num1 only take int.
# if we give a string there.
num1 = int(input("Num1: "))
num2 = int(input("Num2: "))
try:
    num3 = num1/num2
    print(num3)
except:
    print("An error exists.")

Num1: f

ValueError: invalid literal for int() with base 10: 'f'

In [ ]:
# to solve that.
try:
    num1 = int(input("Num1: "))
    num2 = int(input("Num2: "))
    num3 = num1/num2
    print(num3)
except:
    print("An error exists.")

Num1: f
An error exists.

In [ ]:
# therefore if some error is occured at any moment inside the (try:) it will stop the executution there, and jump to the (except:) part.

In [ ]:
# to automatically print the type of error
try:
    num1 = int(input("Num1: "))
    num2 = int(input("Num2: "))
    num3 = num1/num2
    print(num3)
except Exception as s: # note the Exception
    print(s)

Num1: 10
Num2: 0
division by zero

In [ ]:
# same above program
try:
    num1 = int(input("Num1: "))
    num2 = int(input("Num2: "))
    num3 = num1/num2
    print(num3)
except Exception as s: # note the Exception
    print(s)

Num1: f
invalid literal for int() with base 10: 'f'

In [ ]:
# to check for a perticular type of error.
# give the keyword for the error instered of Exception
try:
    num1 = int(input("Num1: "))
    num2 = int(input("Num2: "))
    num3 = num1/num2
    print(num3)
except ZeroDivisionError as z:
    print(z)

Num1: 10
Num2: 0
division by zero

In [ ]:
# it cannot dectet any other error other than (division by zero) error
try:
    num1 = int(input("Num1: "))
    num2 = int(input("Num2: "))
    num3 = num1/num2
    print(num3)
except ZeroDivisionError as z:
    print(z)

Num1: f

ValueError: invalid literal for int() with base 10: 'f'

In [ ]:
# checking multiple, specific errors
# this code can dectect both (ValueError) and (ZeroDivisionError)
# but no other errors
try:
    num1 = int(input("Num1: "))
    num2 = int(input("Num2: "))
    num3 = num1/num2
    print(num3)
except ZeroDivisionError as z:
    print(z)
except ValueError as v:
    print(v)

Num1: f
invalid literal for int() with base 10: 'f'

In [ ]:
# same above code
try:
    num1 = int(input("Num1: "))
    num2 = int(input("Num2: "))
    num3 = num1/num2
    print(num3)
except ZeroDivisionError as z:
    print(z)
except ValueError as v:
    print(v)

Num1: 1000
Num2: 0
division by zero

In [ ]:
# this code, when any error is happended inside the (try:), it will check if it is (ZeroDivisionError). if it is, then it will print "division by zero". if not, it will check if the error is (ValieError). if it is, then it will print "invalid literal ......".if not, then it will go to the (except:) and execute it.

# here the actual error is (unsupported operand type(s) for /: 'str' and 'int'). but the code just execute the (except:)

try:
    num1 = (input("Num1: "))
    num2 = int(input("Num2: "))
    num3 = num1/num2
    print(num3)
except ZeroDivisionError as z:
    print(z)
except ValueError as v:
    print(v)
except:
    print("Unknown error dectected.....................")

Num1: f
Num2: 10
Unknown error dectected.....................