List Comprehension offers a shorter syntax when you want to create a new list
based on the values of an existing list

In [ ]:
# old method
list1 = range(0,50)
even1 = []
for i in list1:
    if i%2==0:
        even1.append(i)
print(even1)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [ ]:
# using list comprehension
list2 = range(0,50)
even2 = [i for i in list2 if i%2==0]
print(even2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [ ]:
employees = [
    {"id":1000,"name":"hari","dept":"devop","salary":34000},
    {"id":1001,"name":"ravi","dept":"devop","salary":24000},
    {"id":1002,"name":"ram","dept":"qa","salary":37000},
    {"id":1003,"name":"ajay","dept":"ga","salary":14000},
    {"id":1004,"name":"anu","dept":"ba","salary":54000},
    {"id":1005,"name":"tini","dept":"qa","salary":64000},]

more50 = [i["name"] for i in employees if i["salary"]>50000]
print(more50)

['anu', 'tini']

In [ ]:
list3 = ['apple' , 'banana' , 'cherry' , "kiwi", 'orange' , 'mango']

cont_a = [i.upper() for i in list3 if "a" in i]
print(cont_a)

['APPLE', 'BANANA', 'ORANGE', 'MANGO']